<div class="container text-center card bg-light col-md-6">
   <form action="/toy/edit/{{ toy._id }}" method="post">
      <h1 class="alert alert-warning text-uppercase">Edit product</h1>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold">Name</label>
         <input class="form-control" type="text" placeholder="Enter toy title" name="title" required minlength="5" value="{{ toy.title }}">
      </div>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold">Price</label>
         <input class="form-control" type="number" name="price" placeholder="Enter toy price" value="{{ toy.price }}">
      </div>
      <div class="form-group mt-3">
         <label class="text text-danger fw-bold">Cover</label>
         <input class="form-control" type="url" name="cover" placeholder="Enter toy cover url" required value="{{ toy.cover}}">
      </div>
      <div class="form-group mt-3 mb-3">
         <input class="btn btn-success" type="submit" value="Edit">
      </div>
   </form>
</div>